# Ignore the cache.
**/__pycache__/*
*.DS_Store
# Ignore the stored numpy data.
*.npz
*.npy
# Ignore the charts and images.
*.png
# Ignore the data folder.
crnn/gtzan/*
# Ignore the training log and record keeping files.
crnn/training_logs/*
crnn/trained_models/*
